body {
    color: #5c5c5f;
    font-family: 'Inconsolata', monospace;    
    font-size: 16px;
}

.hidden {
    opacity: 0;
}

.main-header {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.avatar-wrapper {
    margin: 0 auto;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
}

.avatar-wrapper img {
    width: 128px;
    height: 128px;
    transition: .2s all;
    border-radius: 50%;
}

.avatar-wrapper img[data-current-pointer-position="in"] {
    border-radius: 5%;
    margin-top: 20px;
    width: 100px;
    height: 100px;
}

.main-header h1 {
    font-size: 5rem;
    margin: 10px;
    padding: 10px;
}

.main-header h2 {
    font-size: 1.5rem;
    margin: 10px;
    padding: 10px;
}

.main-section {
    padding: 10px;
    margin: 10px;
}

.main-section .description {
    text-align: center;
    margin: 0 auto;
    max-width: 70%; 
}

.social-nav {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.social-nav li {
    display: inline;
    list-style: none;
    padding: 8px;
}

.social-nav li a {
    text-decoration: none;
}

.social-nav li a i {
    transition: .2s ease all;
    color: #5c5c5f;
    display: inline-block;
}

.social-nav li a i:hover {
    transform: scale(1.5);
    color: #424242;
}